In [2]:
import sqlite3
import pandas as pd

In [13]:
conn = sqlite3.connect(r'C:\Users\Wellbe\DataspellProjects\dsProject\football_api\path\to\save\chroma.sqlite3')
cursor = conn.cursor()
conn.close()

In [3]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS players_overall (
    "id" INTEGER PRIMARY KEY AUTOINCREMENT,
    "Player" TEXT,
    "Nation" TEXT,
    "Pos" TEXT,
    "Age" INT, 
    "MP" INT,
    "Starts" INT,
    "Min" FLOAT,
    "90s" FLOAT,
    "Gls" INT,
    "Ast" INT,
    "G+A" INT,
    "G-PK" FLOAT,
    "PK" FLOAT,
    "PKatt" FLOAT,
    "CrdY" FLOAT,
    "CrdR" FLOAT,
    "xG" FLOAT,
    "npxG" FLOAT,
    "xAG" FLOAT,
    "npxG+xAG" FLOAT,
    "PrgC" FLOAT,
    "PrgP" FLOAT,
    "PrgR" FLOAT,
    "Gls.1" FLOAT,
    "Ast.1" FLOAT,
    "G+A.1" FLOAT,
    "G-PK.1" FLOAT,
    "G+A-PK" FLOAT,
    "xG.1" FLOAT,
    "xAG.1" FLOAT,
    "xG+xAG" FLOAT,
    "npxG.1" FLOAT,
    "npxG+xAG.1" FLOAT,
    "Club" TEXT,
    "League" TEXT,
    "Age_complete" TEXT,
    "Create_at" TIMESTAMP
)
''')

conn.commit()
print("Tabela criada com sucesso.")

Tabela criada com sucesso.

In [9]:
conn.close()

In [7]:
# conecta no banco
#db = WellbeDatabase("db_conf.yaml")


result = pd.read_sql_query("SELECT * FROM players_overall"
                           "", conn)
display(result)

Empty DataFrame
Columns: [id, Player, Nation, Pos, Age, MP, Starts, Min, 90s, Gls, Ast, G+A, G-PK, PK, PKatt, CrdY, CrdR, xG, npxG, xAG, npxG+xAG, PrgC, PrgP, PrgR, Gls.1, Ast.1, G+A.1, G-PK.1, G+A-PK, xG.1, xAG.1, xG+xAG, npxG.1, npxG+xAG.1, Club, League, Age_complete, Create_at]
Index: []

[0 rows x 38 columns]

In [15]:
import chromadb